.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: calc(100% - 400px);
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  min-width: 600px;
  border-radius: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.profile-card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  .avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
}

.profile-info {
  flex: 1;
  .name {
    margin: 0 0 5px;
    font-size: 24px;
    font-weight: bold;
  }
  .major,
  .contact,
  .phone-number,
  .destination-city,
  .company-name {
    margin-bottom: 10px;
    color: #666;
  }
}
