.main-box {
  display: flex;
  flex-direction: column;
}
.edit-form {
  display: grid;
  gap: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 10px;
}

.contact-group,
.company-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.submit-group {
  justify-content: center;
}
